body{
	background-color:#e0e2e4;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

/* jumbotron whole web */

.jumbotron{
	/*background-image:url('contact.jpg');*/
	margin:-20px 70px 0px 70px;
	background:none;
}
.jumbotron h2{
	color:brown;
	font-family:  'Island Moments', cursive;  /*'Old Standard TT', serif;  /* 'IM Fell English SC', serif; */ 
	font-size:50px;
	text-align:center;
}
.jumbotron h3{
	color:brown;
	font-family: 'Old Standard TT', serif; 
}
.jumbotron p{
	font-size:20px;
	margin:5px;
	font-family: 'El Messiri', sans-serif;;
}
.jumbotron li{
	font-size:20px;
	margin:5px;
	font-family: 'El Messiri', sans-serif;; 
}
/* jumbotron background-image */
#cnct-sec{
	margin:-20px 70px 0px 70px;
	background-image:url('contact.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
}

/* HEADER */
#header-nav{
	background-color:#0000A0;
	border-radius: 0;
	border:0;
}
#logo-img{
	margin:10px;
	width:220px;
	height: 150px;
	margin-left:-20px;
	border-radius:80%;
}
.navbar-brand{               /* logo and name */
	padding-top:35px;
}
.navbar-brand h1{
	color: white;
	font-size: 39px;
	font-stretch: expanded;
	font-family: 'Century Schoolbook';
	margin-top: 22px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration:none;
}

/* menu */

#nav-list{                   
	margin-top:40px;
}
#nav-list a{
	font-family:Monotype Corsiva;
	color:white;
	font-size:18px;
}

/****** Dropdown menu text color ******/
#nav-list .dropdown-menu a:hover{
	color:black;
	font-size:23px;
}
/****** menu text color ******/
#nav-list a:hover{
	color: pink;
	font-size:23px;
} 
#Service a{
	background-color:inherit;
}
#Service ul{
	background-color: #8d9db6;  
	border-radius:20px 0px;
	
}

/****  toggle-button bg color  onclick  (right text) ****/
/*#Service .dropdown-toggle:focus{
	background-color:#9999ff;
	border-radius:20px 20px 0px 0px;
}
*/
/* END HEADER */

 /* Contact */
 
#img{
	margin-top:5px;
	margin-left:80px;
	border-radius:50%;
	width:170px;
	height:190px;
}
#detail-1 a{
	color:green;
	margin-left:80px;
	text-decoration:none;
}

.glyphicon{
	color:maroon;
}
#point{
	font-size:30px;
	color:red;
}
#phone{
	font-size:20px;
}
#mail:{
	font-size:20px;
}

 /* End Contact */
 
 
/* Footer */
.panel-footer{
	font-size:10px;
	color:white;
	background-color:#0000A0;
}
.panel-footer h6{
	text-align:center;
}
/* contact us */
.panel-footer h2{
	color:#9fa9a3;
	font-size:35px;
}
.panel-footer a{
	color:white;
	font-size:16px;
}
.panel-footer .jumbotron{
	text-align:center;
}

/*  Contact us number  */
#contactus h3{
	color:white;
}
#contactus a:hover{
	font-size:20px;
	color:yellow;
	text-decoration:none;
}

/* End Footer */


/********Large devices only ********/
@media only screen and (min-width: 1200px){
	
}

/********Medium devices only ********/
@media only screen and (min-width: 992px) and (max-width: 1199px){
	/* Header */
	#logo-img{
		width: 180px;
		height: 130px;
	}
	
	.navbar-brand h1{
		font-size:32px;
	}
	/* End Header */
	
		/* jumbotron */
	.jumbotron{
		margin:-20px 58px 0px 58px;
	}
	#cnct-sec{
		margin:-20px 58px 0px 58px;
	}
}
/********Small devices only ********/
@media only screen and (min-width: 768px) and (max-width: 991px){
	/* Header */
	#logo-img{
		margin-left:2px;
		width: 170px;
		height: 120px;
	}
	
	.navbar-brand h1{
		margin-top:12px;
		font-size:27px;
	}
	/* End Header */

	
	#img{    /* contact img */
		margin-left:250px;
	}
	.jumbotron p{
		font-weight:bold;
	}
	/* jumbotron */
	.jumbotron{
		margin:-20px 40px 0px 40px;
	}
	#cnct-sec{
		margin:-20px 40px 0px 40px;
	}
}
/********Extra-Small devices only ********/
@media only screen and (max-width: 767px){
	
	/* Header */
	#logo-img{
		margin-left:5px;
		width: 150px;
		height: 100px;
	}
	
	#navbarToggle{/* collapsable menubar */
		margin-top:35px;
		border-color:blue;
	}
	
	#navbarToggle span{/* collapsable menubar */
		border-color:blue;
	}
	
	.navbar-brand h1{ /* name */
		margin-top:5px;
		font-size: 25px;	/*1 vw= 1% of viewport width */	
	}
		
	#collapsable-nav a{/* collapsable nav menu glyph */
		font-size: 15px;
	}

	#img{    /* contact img */
		margin-left:150px;
	}
	
	#detail-1 a{
		margin-left:5px;
	}
	#detail-2 a{
		margin-left:5px;
	}
	.jumbotron p{
		font-weight:bold;
	}
	/* jumbotron */
	.jumbotron{
		margin:-20px 25px 0px 25px;
	}
	#cnct-sec{
		margin:-20px 25px 0px 25px;
	}

}

/******** Super extra small devices (e.g. iphone etc.) ********/
@media only screen and (max-width: 479px){
	#menu-title, #special-title{
		width: 280px;
		margin: 0 auto 15px;
	}
	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-left:15px;
		padding-right: 15px;
		float:left;
		width:100%;
	}
	#img{    /* contact img */
		margin-left:100px;
	}
	#detail-1 a{
		margin-left:5px;
	}
	#detail-2 a{
		margin-left:5px;
	}
	.jumbotron p{
		font-weight:bold;
	}
	/* jumbotron */
	.jumbotron{
		margin:-20px 2px 0px 2px;
	}
	#cnct-sec{
		margin:-20px 2px 0px 2px;
	}
}

